<footer class="footer">
      <div class="footer_cont-imagen-nav">
        <img class="footer_logo" src="/images/torre.png" alt="logo" />
        <nav class="footer_nav">
            <ul>
              <li><a href="/novedades">NOVEDADES</a></li>
              <li><a href="/contactos">CONTACTO</a></li>
              <li><a href="/nosotros">NOSOTROS</a></li>
              <li><a href="/plays/kids">KIDS</a></li>
            </ul>
          </nav>
      </div>
   
      <section class="footer_seguinos-redes">
        <h3 class="footer_seguinos">SEGUINOS:</h3>
        <ul class="footer_redes-sociales">
          <li>
            <a href="https://www.youtube.com/watch?time_continue=1&v=q6FcqZ4r6P4&feature=emb_title"><i class="fab fa-youtube"></i></a>
          </li>
          <li>
            <a href="https://wa.me/1124629132"><i class="fab fa-whatsapp"></i></a>
          </li>
          <li>
            <a href="https://twitter.com/LaTorreMarvelLA"><i class="fab fa-twitter"></i></a>
          </li>
          <li>
            <a href="https://www.facebook.com/profile.php?id=100074683292851"><i class="fab fa-facebook-f"></i></a>
          </li>
          <li>
            <a href="https://www.instagram.com/latorremarvella/"><i class="fab fa-instagram"></i></a>
          </li>
        </ul>
      </section>
    </footer>