<div class="envioMobile animate__animated animate__backInRight">

      <div class="subelemento">

      <div class="icono">
        <i class="fas fa-truck"></i>
      </div>

      <div class="iconotext">
        <h6> <strong> ENVIO GRATIS</strong> DESDE $5400 PESOS <h6>
          </div>
        </div>
        <div class="subelemento">

        <div class="icono">
       
          <i class="fab fa-cc-visa"></i>
        </div>

        <div class="iconotext">
          <h6>  <strong>MULTIPLES PLATAFORMAS DE PAGO</strong> <br>TARJETAS - EFECTIVO - MERCADOPAGO</h6>
      </div>
    </div>
    <div class="subelemento">

      <div class="icono">
       
        <i class="fas fa-handshake"></i>
      </div>
       
      <div class="iconotext">
        <h6>  <strong>FINANCIACION</strong> <br>3 Y 6 CUOTAS SIN INTERES</h6>
      </div>
    
    </div>

    </div>



    <div class="envio animate__animated animate__backInRight">





      <div class="subelemento">
      <div class="icono">
        <i class="fas fa-truck"></i>
      </div>
      <div class="iconotext">
        <h6> <strong> ENVIO GRATIS</strong> DESDE $5400 PESOS <h6>
        </div>

      </div >




      <div class="subelemento">
        <div class="icono">
          <i class="fas fa-sync"></i>
        </div>
        <div class="iconotext">
          <h6> <strong> CAMBIO Y DEVOLUCION</strong> GRATIS EN TODO EL PAIS</h6>
      </div>
    </div>


      <div class="subelemento">
      <div class="icono">
        <i class="fas fa-mobile-alt"></i>      
      </div>
      <div class="iconotext">
        <h6>  <strong>DESCARGA NUESTRA APP</strong> <br>GRATIS EN TODO EL PAIS</h6>
      </div>
    </div>



    <div class="subelemento">

      <div class="icono">
        <i class="fas fa-copyright"></i> 
      </div>
      <div class="iconotext">
        <h6>  <strong>MAS DE 500 MARCAS</strong> <br>LOCALES E INTERNACIONALES</h6>
      </div>
    </div>

    <div class="subelemento">
      <div class="icono">
        <i class="fab fa-cc-visa"></i>
      </div>
      <div class="iconotext">
        <h6>  <strong>MULTIPLES PLATAFORMAS DE PAGO</strong> <br>TARJETAS - EFECTIVO - MERCADOPAGO</h6>
      </div>
    </div>

    <div class="subelemento">
      <div class="icono">
        <i class="fas fa-handshake"></i>
      </div>
      <div class="iconotext">
        <h6>  <strong>FINANCIACION</strong> <br>3 Y 6 CUOTAS SIN INTERES</h6>
      </div>
    </div>

      

  </div>