<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head') %>

    <body class="black">
        <%- include('./partials/header') %>

            <div class="clorear">
                <h2 class="colorear">¡Bienvenido a la seccion de juegos!</h2>
            </div>

            <section class="kids">
                <div class="loki animate__animated animate__flash animate__infinite">
                    <img src="/images/580b57fbd9996e24bc43c07d.png" alt="asdasd">
                </div>
                <iframe id="game-iframe"
                    src="https://games.crazygames.com/es_ES/marvel-vs-capcom-clash-of-super-heroes/index.html"
                    title="Marvel vs. Capcom: Clash of Super Heroes" class="jss184" scrolling="no"
                    allow="autoplay; fullscreen; microphone; focus-without-user-activation *; wake-lock; gamepad;"
                    allowfullscreen=""
                    sandbox="allow-forms allow-modals allow-orientation-lock allow-pointer-lock allow-presentation allow-scripts allow-same-origin allow-popups"
                    loading="eager" importance="high"> <a href='https://www.1001juegos.com/e/pelea'
                        target='_blank'>juegos de
                        pelea</a> o <a href='https://www.1001juegos.com/juego/chaos-faction-2' target='_blank'>Chaos
                        Faction 2</a> y
                    <a href='https://www.1001juegos.com/juego/swords-and-sandals-2' target='_blank'>Swords and Sandals
                        2</a>.</iframe>



                <div class="ironman animate__animated  animate__shakeY animate__infinite">
                    <img src="/images/ironmanflotando.png" alt="asdasd">
                </div>

    </body>


    </section>

    <section class="kids spidergame">
        <div class="loki animate__animated  ">
            <img src="/images/580b57fbd9996e24bc43c05b.png" alt="asdasd">
        </div>

        <iframe src="https://i.annihil.us/u/stage/games/marvelhq/sm_journey_mystery/index.html" width="100%"
            height="600" frameborder="0" scrolling="no"> </iframe>



        <div class="ironman    animate__infinite">
            <img src="/images/580b57fbd9996e24bc43c047.png" alt="asdasd">
        </div>
    </section>


    <div class="titulosobrenosotros">
        <h2>¡Bienvenido a la seccion de colorear!</h2>
        </div>
     

    <section class="imagenesparacolorear">
        <img src="../images/unnamed.jpg" alt="">
        <img src="../images/Raskrasil-mstiteli-23.jpg" alt="">
        <img src="../images/colorear-marvel-super-heroes-79862.jpg" alt="">

    </section>

    <%- include('./partials/footer') %>

        <%- include('./partials/scripts') %>


            </body>

</html>

</html>