<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %>

  <body class="login">
    <h1 class="titulo">Login</h1>
    <main class="login-main">

      <form action="/users/login" method="POST" class="inputs needs-validation" novalidate> 
        <h4 class="ingresa-google">Ingresar</h4>
        <div>
          <input type="text" id="validationCustom01" class="form-control" name="email" placeholder="Email" required/>
        </div>
        <div>
          <input type="password" id="validationCustom02" name="password" class="form-control" placeholder="Contraseña" required />
        </div>
        <span class="text-danger fs-4"><%= locals.errors && errors.email ? errors.email.msg :null%></span>
        <div class="recordarme">
          <input type="checkbox" name="recordar" id="recordarme" />
          <label for="recordarme">Recordarme</label>
        </div>
        <p class="recuperar-cont">
          tus credenciales fueron robadas por hydra?...
          <a href="#">Recuperalas</a>
        </p>
        <button class="btn-ingresa">INGRESA</button>
      </form>
      </section>
      <div class="pruebass">
        <a href="/" class="cont-img">
          <img src="/images/torre.png" alt="logo-torre" />
        </a>
      </div>
    </main>
    <script src="/javascript/validateLogin.js"></script>
  </body>

</html>