<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head') %>

  <body>

    <%- include('./partials/header') %>

      <main class="secciondeproductos">
        <div class="titulogeneral">
          <h2 class="TIENDA">VIDEOS Y NOTICIAS DE ULTIMO MOMENTO!</h2>
        </div>
        <div class="youtube">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/GNZ14vdR4is" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
        </div>




        <div class="noticia">
          <div class="imagenoticia">
            <img src="../images/Shang-chi-Marvel.jpg" alt="">
          </div>
          <div class="textonoticia">
            No te pierdas las increibles aventuras de este heroe recien llegado al mcu <br>
            ¿podra shang chi ganar el torneo y obtener los 10 anillos? <br>
            mira el nuevo trailer <a href="https://www.youtube.com/watch?v=PWLlqiZTGlM">AQUI MISMO!</a>
          </div>

        </div>


        <div class="noticia">
          <div class="textonoticia">
            Revivimos una clasica entrevista con Tom Holland y Jake Gyllehan <br>
            ¿que tiene para contarnos nuestro spiderman favorito?
            <a
              href="https://www.infobae.com/teleshow/en-cartel/2019/07/04/entrevista-exclusiva-a-tom-holland-y-jake-gyllenhaal-protagonistas-de-spider-man-lejos-de-casa/">Leela
              antes que nadie!!</a>
          </div>
          <div class="imagenoticia">
            <img src="../images/spidermannn.png" alt="">
          </div>


        </div>



        <div class="noticia">
          <div class="imagenoticia">
            <img src="../images/black-widow-fecha-de-estreno-disney-plus-costo_1_crop1616531365019.jpg_242310155.jpg"
              alt="">
          </div>
          <div class="textonoticia">
            Black widow esta a nada de su estreno y algunas peliculas sufren algunos retrasos <br>
            Aca te vamos a traer todas las fechas de estreno hasta el momento <br>
            Esperemos que ninguna se atrase! <a
              href="https://www.cubanoticias360.com/marvel-estrenos-2021/?gclid=Cj0KCQjw8vqGBhC_ARIsADMSd1DEsKBRaV7ejZ9DmeYejyK-qWpHz7WJU2TwN23z2Eu3o8yLL0VpkbcaAiPcEALw_wcB">Anotalas
              desde aca!</a>
          </div>

        </div>
        <div class="fondo">
        </div>
        <section class="ofertones">
          <div class="productodeoferta1">
            <img src="../images/merchandising/cascos.jpg" alt="">
          </div>
          <div class="textito">
            <H2>¡LLEGARON LOS NUEVOS CASCOS!</H2>
            <h3>No te demores mucho en chequear los nuevos cascos en nuestro <a href="/productos">Merchandising!</a>
            </h3>
          </div>
        </section>


        <section class="ofertones">
          <div class="productodeoferta1">
            <img src="../images/comics.jpg" alt="">
          </div>
          <div class="textito">
            <H2>¡HIJO DE ODIN, LOS COMICS DE ESTE MES YA ESTAN ACA!, ERES DIGNO DE LEERLOS?!</H2>
            <h3>No te pierdas de los mejores comics del mercado y los mas recientes en nuestra seccion de <a
                href="/productos">Comics!</a></h3>
          </div>
        </section>



        <DIV CLASS="promo">
          <img src="../images/LOKISTREAM.jpg" alt="">
        </DIV>
      </main>



      <%- include('./partials/footer') %>

        <%- include('./partials/scripts') %>


  </body>

</html>