<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head') %>

    <body>
        <div class="fondo2">

        </div>
        <%- include('./partials/header') %>

            <main>
                <div class="titulosobrenosotros">
                    <h2>Un poco sobre nosotros</h2>
                </div>
                <section class="descripcion">
                    <div class="nosotros1"><img src="../images/580b57fbd9996e24bc43c014.png" alt=""></div>

                    <div class="nosotros2">
                        <h3>Somos una subdivision de MARVEL L.A. que trae para usted los mejores productos <br>
                            para brindarle un precio accesible y de la mejor calidad, productos importados, originales
                            <br>
                            y actualizados con las ultimas novedades del mercado pero sobre todo de parte de su amigable
                            y confiable vecino...</h3>
                    </div>
                    <div class="nosotros3"><img src="../images/580b57fbd9996e24bc43c05d.png" alt=""></div>

                </section>
                <section class="youtube"  >
                    <div class="videoYoutube">
                        <iframe src="https://www.youtube.com/embed/q6FcqZ4r6P4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>                    </div>
    
    
            </section>
                <div class="nosotros4"><img src="../images/585f9379cb11b227491c3583.png" alt=""></div>



            </main>

            <%- include('./partials/footer') %>

             <%- include('./partials/scripts') %>

    </body>

</html>