@media (min-width: 319px){

    .cadadestacado2 img{
        width: 15rem;
        max-height: 15rem;
        display: flex !important;
        margin: auto !important;
        justify-content: center !important;
        align-items: center !important;
        margin-top: 40px !important;
        border-radius: 25px 25px 0px 0px;

    }
    .titulodestacado2{
        font-family: 'Bebas Neue';
    
        background-color: #d3dbde;
        border-radius: 0 0 10px 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
        color: #152033;
        width: 15rem;
        margin: auto;
    }
    .titulodestacado2 h3{
        font-size: 2rem;
    }
    .titulodestacado3{
        font-family: 'Bebas Neue';
    
        background-color: #d3dbde;
        border-radius: 0 0 10px 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
        color: #152033;
        width: 15rem;
        margin: auto;
    }
}
@media (min-width: 768px){
  
    .cadadestacado2{
        display: flex !important;
        justify-content: center !important;
     }
    .cadadestacado2 img{
        border-radius: 15px;
        max-height: 30rem;
       
        width: 30rem;
        display: flex !important;
        margin: 10px !important;
        align-items: center !important;
        margin-top: 40px !important;

    }
    .titulodestacado2{
        border-radius: 10px 10px 10px 10px;

        width: 60% !important;
        height: 10% !important;
        font-family: 'Bebas Neue';
        font-size: 3rem;
        background-color: #d3dbde;
        text-align: center;
        color: #152033;
        margin: 0 !important;
        align-items: center !important;
        justify-content: center !important;
        margin: auto !important;
    }
    .titulodestacado2 h3{
        font-size: 6rem;
    }
    .titulodestacado3{
        width: 60% !important;
        height: 10% !important;
        font-family: 'Bebas Neue';
        font-size: 3rem;
        background-color: #d3dbde;
        text-align: center;
        color: #152033;
        margin: 0 !important;
        align-items: center !important;
        justify-content: center !important;
        margin: auto !important;
    }
    .titulodestacado3 h3{
        font-size: 6rem;
    }
   
}

@media (min-width: 1024px){
 
     .cadadestacado2{
        display: flex !important;
        justify-content: center !important;
     }
    .cadadestacado2 img{
        border-radius: 15px;
        max-height: 30rem;
       
        width: 30rem;
        display: flex !important;
        margin: 10px !important;
        align-items: center !important;
        margin-top: 40px !important;

    }
    .titulodestacado2{
        width: 60% !important;
        height: 10% !important;
        font-family: 'Bebas Neue';
        font-size: 3rem;
        background-color: #d3dbde;
        text-align: center;
        color: #152033;
        margin: 0 !important;
        align-items: center !important;
        justify-content: center !important;
        margin: auto !important;
    }
    .titulodestacado2 h3{
        font-size: 6rem;
    }
    .titulodestacado2{
        width: 60% !important;
        height: 20% !important;
        font-family: 'Bebas Neue';
        font-size: 2rem;
        background-color: #d3dbde;
        text-align: center;
        color: #ff0000;
        margin: 0 !important;
        align-items: center !important;
        justify-content: center !important;
        margin: auto !important;
    }
    .titulodestacado h3{
        font-size: 2.5rem;
    }
   
}

